::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 78, 168, 0.6);
    border-radius: 20px;
}

.page_container {
    max-width: 840px;
    margin: auto;
}

.main_container {
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 5px;
}

.all_cntr {
    width: 100%;
    display: flex;
    margin: auto;
}

.fst_container {
    border: 1px solid #ddd;
    max-width: 500px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 10px 20px;
    height: 400px;
    margin-right: 0;
    text-align: center;
    /* display: none; */
    /* hide it */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
}

.fst_container > img {
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: visible;
    margin-bottom: 10px;
}

.close-btn_m {
    background: orangered;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-top: -11px;
    margin-left: -21px;
    position: fixed;
}

.reminder {
    background-color: #ccc;
    padding: 10px;
    color: #333;
    max-width: 190px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.reminder img {
    width: 15px;
    box-shadow: none;
}

.snd_container {
    border: 1px solid #ddd;
    max-width: 250px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    text-align: center;
    height: 400px;
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team_title {
    text-align: center;
    /* width: 200px; */
    /* see below.. */
    margin: auto;
}

.team_title img {
    width: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.team_title_text {
    font-size: 18px;
    /* font-size: 22px; */
    /* make it "BLOCK" */
    font-weight: 600;
    color: orangered;
    float: right;
}

.team_title ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.team_title li {
    display: inline-block;
    padding: 10px 10px;
}

.login_form {
    margin-top: 40px;
    text-align: left;
}

.error_msg {
    background-color: red;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    font-size: 12px;
}

input {
    max-width: 240px;
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    padding: 0px 5px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

input:focus {
    border: 1px solid blueviolet;
}

button {
    max-width: 250px;
    width: 100%;
    height: 35px;
    margin-top: 30px;
    background-color: #2799e2;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 1px solid #298ac7;
}

button:hover {
    background-color: #298ac7;
}

.forget_pass {
    margin-top: 35px;
    margin-bottom: 30px;
}

.forget_pass a {
    text-decoration: underline;
    color: #333;
    font-size: 14px;
}

.forget_pass a:hover {
    color: orangered;
}

.credit {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.modal {
    display: none;
}








@media screen and (max-width: 650px) {

    .fst_container {
        display: none;
    }

    .fst_container_sw {
        box-shadow: none;
        border: 0;
        font-weight: 400;


        margin: auto;
        background-color: #ffffff;
        padding: 10px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0px;
        text-align: center;
        overflow-y: scroll;
    }

    .fst_container_sw > img {
        max-width: 400px;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: visible;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .snd_container {
        border: 1px solid #ddd;
        max-width: 352px;
        width: 100%;
        margin: auto;
        background-color: #ffffff;
        text-align: center;
        height: 460px;
        margin-left: 0;
        padding: 10px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .team_title {
        text-align: center;
        /* width: 200px; */
        /* see below.. */
        margin: auto;
        margin-top: 20px;
    }

    .team_title_text {
        font-size: 26px;
        /* font-size: 22px; */
        /* make it "BLOCK" */
        font-weight: 600;
        color: orangered;
        float: right;
    }

    .team_title ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .team_title li {
        display: inline-block;
        padding: 10px 10px;
    }

    .login_form {
        margin-top: 40px;
        text-align: left;
    }

    .error_msg {
        background-color: #e22525;
        padding: 10px 10px;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    label {
        font-size: 14px;
    }

    input {
        max-width: 340px;
        width: 100%;
        height: 35px;
        outline: none;
        border: 1px solid #ccc;
        padding: 0px 5px;
        font-weight: 600;
        font-size: 18px;
        color: #333;
    }

    input:focus {
        border: 1px solid blueviolet;
    }

    button {
        max-width: 350px;
        width: 100%;
        height: 35px;
        margin-top: 30px;
        background-color: #2799e2;
        border: 0;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        border: 1px solid #298ac7;
    }

    button:hover {
        background-color: #298ac7;
    }

    .forget_pass {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .forget_pass a {
        text-decoration: underline;
        color: #333;
        font-size: 14px;
    }

    .forget_pass a:hover {
        color: orangered;
    }


    .modal {
        display: inherit;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: auto;
        z-index: 999;
        padding: 10px;
    }

    .modal-form {
        background: #fff;
        position: relative;
        top: 5%;
        padding: 10px;
        margin: 0 auto;
        overflow: scroll;
        max-height: 500px;
        height: 100%;
        margin-bottom: 0;
    }

    .close-btn {
        background: orangered;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        float: left;
        margin-top: -10px;
        margin-left: -10px;
        position: fixed;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }




}
