body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

.table{
	width: 100%;
	border-collapse: collapse;
	max-width: 800px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

.table td,.table th{
	padding: 15px 15px 15px 15px;
  	text-align: left;
	font-size:16px;
}

.table tr{
	border:1px solid #ddd;
	margin-bottom: 15px;
	display: block;
	border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	/* background-color: #f3f3f3; */
}

.table td img {
	border-radius: 10px;
	padding: 5px;
	margin-bottom: -4px;
}

.prolink {
	text-decoration: none;
	color: red;
}
.prolink:hover {
	text-decoration: underline;
}

.status_air {
	background-color: green;
	color: #ffffff;
	width: 60px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 5px;
	font-weight: 600;
}

.status_by {
	background-color: orangered;
	color: #ffffff;
	width: 90px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 5px;
	font-weight: 600;
}

.status_cancel {
	background-color: red;
	color: #ffffff;
	width: 90px;
	padding: 5px 10px;
	text-align: center;
	border-radius: 5px;
	font-weight: 600;
}

.navmenu {
    margin: 0 auto;
	max-width: 832px;
	text-align: center;
}
/* nav menu */
.navmenu ul {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #000;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
	border-radius: 2px;
	display: inline-block;
}
.navmenu ul li {
    float: left;
    list-style-type: none;
}
.navmenu ul li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}
.navmenu li a:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 3px;
}
.navmenu .liactive {
    border-bottom: 3px solid orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 600;
}

.hide2 {
	display: none;
}


/*responsive*/

@media(max-width: 750px){ 
	.navmenu ul li a {
		padding: 10px 7px;
	}
}

@media(max-width: 620px){
	.navmenu ul li a {
		padding: 10px 8px;
	}

	.table{
		width: 100%;
		border-collapse: collapse;
		width: 312px;
		margin: 0 auto;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		text-align: left;
	}

	.status_air {
		margin-bottom: -10px;
	}

	.status_by {
		margin-bottom: -10px;
	}

	.status_cancel {
		margin-bottom: -10px;
	}

	.hide {
		display: none;
	}
	.hide2 {
		display: block;
	}

	.navmenu ul li a {
		padding: 10px 10px;
	}
	
}

@media(max-width: 380px){
	.navmenu ul li a {
		padding: 10px 8px;
	}


}